<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name %> a passé une commande!</h1>
    <p>
      Commande n°<%= @order.id %>
    <br>
    </p>
    <p>
      Merci pour votre commande.
    </p>

    <p>
      Pour vous connecter sur le site, cliquez sur le lien suivant : <%= link_to "Se connecter", @url %>.
    </p>
  </body>
</html>