<div class= "container col-sm-12 wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms"">
	<div class="portfolio-pagination">
		<ul class="pagination">
			<li><a href="#">left</a></li>
			<li class="active"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">6</a></li>
			<li><a href="#">7</a></li>
			<li><a href="#">8</a></li>
			<li><a href="#">9</a></li>
			<li><a href="#">right</a></li>
		</ul>
	</div>
</div>