<div class="row">

<% @products.each do |i| %>
<div class="card col-sm-3 text-center">
  <div class="card-header">
    <p><%= i.name %></p>
  </div>
  <div class="card-body">
    <h5 class="card-title">description : <%= i.description %></h5>
    <p class="card-text"><%= image_tag i.picture, alt: 'pussy!' %></p>
  </div>
</div>
<% end %>

</div>