<h1>ICI LA CREATION D'UN NOUVEAU PRODUIT !</h1>
<%= form_for @new_product do |f| %>
<label>description</label>
  <%= f.text_area :description %>
  <p>
<label>Prix</label>
  <%= f.text_field :price %>
</p>
<label>image associée</label>
  <%= f.file_field :picture %>
</p>
<div class="form-group">
  <button type="submit" class="btn btn-primary">Créer</button>
</div>

<% end %>