<h1>Page du nouveau produit créé</h1>

<p>Produit portant l'id : <%=@product.id%></p>
<h3>Image associée </h3>
<%if @product.picture.attached?%>
  <%= image_tag @product.picture, alt: 'avatar' %>
<%else%>
  <p>=== Il n'y a pas d'image liée à ce produit (never append !) ===</p>
<%end%>