<div class="col-md-3 col-sm-6">
    <div class="contact-info bottom">
        <h2>Contacts</h2>
        <address>
        E-mail: <a href="mailto:thp.sess7.gre@gmail.com">essaye</a> <br> 
        Phone: +1 (123) 456 7890 <br> 
        Fax: whatt, fax???? <br> 
        </address>

        <h2>Addresse</h2>
        <address>
        Unit C2, St.Vincent's Trading Est., <br> 
        Feeder Road, <br> 
        Bristol, BS2 0UY <br> 
        Planet Earth <br> 
        </address>
    </div>
</div>