<footer id="footer">
    <div class="container">
        <div class="row">

            <% render "layouts/separationimg" %> 

            <%= render "layouts/temoignages" %> 

            <%= render "layouts/contacts" %>

            <%= render "layouts/sendmsg" %>

            <%= render "layouts/socialmedia" %>

        </div>
    </div>
</footer>