<div class="container">
    <div class="row">
        <div class="col-sm-12 overflow">
        <div class="social-icons pull-center">
                <ul class="nav nav-pills">
                    <li><a href="https://www.facebook.com/wearepussyriot/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="http://grattemoilachatte.ch"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://www.youtube.com/watch?v=Qsare4oQrtQ"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="https://player.blackpills.com/series/de92678be97b12db03cd3a09f3765ad3ac855c541a1"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div> 
        </div>
    </div>
</div>