<div class="col-md-4 col-sm-6">
    <div class="testimonial bottom">
        <h2>Témoignages</h2>
        <div class="media">
            <div class="pull-left">
                <a href="#"><img src="images/home/profile1.png" alt=""></a>
            </div>
            <div class="media-body">
                <blockquote>Nisi commodo bresaola, leberkas venison eiusmod bacon occaecat labore tail.</blockquote>
                <h3><a href="#">- Jhon Kalis</a></h3>
            </div>
        </div>
        <div class="media">
            <div class="pull-left">
                <a href="#"><img src="images/home/profile2.png" alt=""></a>
            </div>
            <div class="media-body">
                <blockquote>Le temoignage d'avant c'est vraiment de la merde, le mec parle en latin, non mais allo quoi !</blockquote>
                <h3><a href="">- Secret Addict</a></h3>
            </div>
        </div>   
    </div> 
</div>